{
    "extends": "airbnb-base",
    "rules": {
        "linebreak-style": 0,
        "indent": ["error", 4, { "SwitchCase": 4}
        ]
    },
    "env": {
        "browser": true,
        "node": true
    }
}